footer {
    display: flex;
    padding: 15px 20px 20px;
    background-color: $bg-footer;
    color: $white;
        @media screen and (min-width: $bkp-tablet) {
            justify-content: center;
        }
    nav {
        @include major-sections-centered-layout;
        flex-direction: column;
        @media screen and (min-width: $bkp-tablet) {
            align-items: center;
        }    
        h3 {
            font-family: $font-stack-headings;
            @include margin-top-bottom(0.67rem);        
        }
        li {
            @include margin-top-bottom(0.67rem);
            &:last-child, &:nth-child(3) {
              font-weight: 300;
            }
            @media screen and (min-width: $bkp-tablet) {
                text-align: center;
            }    
        }
        a {
             color: inherit;
         }
        i {
             font-size: 0.8rem;
             margin-right: 10px;
        }
    }
}