.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-image: linear-gradient($secondary-color, $primary-color);
    color: $white;
    font-weight: 400; 
    padding: 0 20px;
    border-radius: 25px;
    box-shadow: $btn-shadow;
    @include margin-top-bottom(20px);
}