// hearts are stacked with fontawesome rule fa-stack, the colored heart beneath the empty one.

.heart {
  &__icon {
    font-size: 1.5rem;
    color: $darkgrey;
    @include media-queries-min-width($bkp-desktop) {
      font-size: 1.8rem;
    }
    &--plein {
      background: linear-gradient(190deg, $primary-color, $secondary-color);
      background-size: 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      transform: scale(0);
    }
  }
  &:hover {
    .heart__icon {
      &--plein {
        animation: heart-bound 1s 0.1s ease-in forwards;
      }
    }
  }
}
