.heart {
  font-size: 1.5rem;
  color: $darkgrey;
  &--plein {
    background: linear-gradient($primary-color, $secondary-color);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    opacity: 0;
  }
}
