#find-us {
    @include major-sections-centered-layout;
    @include flex-center;
    height: 50px;
    background-color: $bg-find-us;
    color: $bg-footer;
    box-shadow: inset 0 3px 3px darken($bg-find-us, 20%);
    p {
        font-weight: 500;
        i {
            padding-right: 15px;
        }

    }
    &::after {
        content: "";
        width: 30px;
    }
}
#about-us {
    @include major-sections-centered-layout;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    padding: 40px 0;
    h1 {
        width: 60%;
        text-align: center;
    }
    p {
        width: 80%;
        text-align: center;
        color: $bg-footer;
        @include margin-top-bottom(10px);
    }
}
#how-to {
    @include major-sections-centered-layout;
    max-width: 1200px;
    padding: 50px 20px;
    flex-direction: column;
    h2 {
        margin-bottom: 20px;
        margin-right: 20px;
    }
    ol {
        display: flex;
        flex-flow: row wrap;
        counter-reset: label-counter;
    }
    li {
        max-width: 350px;
        @media screen and (min-width: $bkp-tablet) {
            width: unset;
            justify-content: space-between;
        }
    }
}
#restaurants {
    @include major-sections-centered-layout;
    max-width: 1200px;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: $bg-color;
    @media screen and (min-width: $bkp-desktop-max) {
        background-color: unset;
    }
    h2 {
        width: 100%;
        @include margin-top-bottom(10px);
    }
    article {
        @include margin-top-bottom(10px);
        position: relative;
        width: 100%;
        @media screen and (min-width: $bkp-tablet) {
            width: 48%;
            
        }
    }
    figure {
        display: flex;
        flex-flow: column wrap;
        background-color: $white;
        border-radius: 18px;
        box-shadow: $main-shadow;
        img {
            object-fit: cover;
            width: 100%;
            height: 174px;
            border-radius: 18px 18px 0 0;
        }
        figcaption {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 25px 0 15px;
            height: 77px;
        }
        p {
            @include margin-top-bottom(0.3rem);
        }
    }
    
}