#find-us {
    @include major-sections-centered-layout;
    @include flex-center;
    height: 50px;
    background-color: $bg-find-us;
    color: $bg-footer;
    box-shadow: inset 0 3px 3px darken($bg-find-us, 20%);
    p {
        font-weight: 500;
        i {
            padding-right: 15px;
        }

    }
    &::after {
        content: "";
        width: 30px;
    }
}
#about-us {
    @include major-sections-centered-layout;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    padding: 40px 0;
    h1 {
        width: 60%;
        text-align: center;
    }
    p {
        width: 80%;
        text-align: center;
        color: $bg-footer;
        @include margin-top-bottom(10px);
    }
}
#how-to {
    @include major-sections-centered-layout;
    @include margin-top-bottom(50px);
    padding: 0 20px;
    flex-direction: column;
    h2 {
        margin-bottom: 20px;
    }
    ol {
        display: flex;
        flex-flow: row wrap;
        counter-reset: label-counter;
    }
    li {
        @media screen and (min-width: $bkp-tablet) {
            width: unset;
            justify-content: space-between;
        }
    }
}