.menu-page {
  main {
    // photo banner

    figure {
      width: 100%;
      margin: 0 auto;
      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 60%;
        @include media-queries-min-width($bkp-desktop) {
          height: 300px;
        }
        @include media-queries-min-width($bkp-desktop-max) {
          height: 350px;
        }
      }
    }

    // MENU

    > section {
      @include max-width($bkp-desktop);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: $lightgrey;
      margin-top: -35px;
      border-radius: 35px 35px 0 0;
      padding-bottom: 40px;
      @include media-queries-min-width($bkp-desktop) {
        margin-top: -90px;
      }
      section {
        //  MENU TITLE
        // section containing the name of the restaurant and heart icon

        &:first-child {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 100px;
          padding: 0 25px 0 20px;
          h1 {
            font-family: $font-stack-headings;
            font-size: 1.67rem;
            font-weight: 500;
            margin: 0;
          }
        }

        // MENU PLATE-LIST SECTIONS
        // section:nth-last-of-type(-n + 3) refers to the thee menu sections: starters, plates ans desserts

        &:nth-last-of-type(-n + 3) {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 20px;
          h2 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0 20px 15px;
            &::after {
              content: "";
              display: block;
              @include size(40px, 3px);
              background-color: $tertiary-color;
            }
          }

          // MENU PLATES

          article {
            display: flex;
            align-items: center;
            background-color: $white;
            border-radius: 15px;
            margin: 0 15px 15px;
            padding: 10px 0 10px 12px;
            box-shadow: $main-shadow;
            overflow-x: hidden;
            animation: lazy-loading 1s ease-out both;
            div {
              // div containing names of plates and its description

              &:first-child {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                margin-right: 0;
                transition: margin-right $check-dur $check-tim-fun;
                * {
                  line-height: 1.5rem;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }
              // div containing the check icon

              &:last-child {
                display: flex;
                @include flex-center;
                @include size($check-width, 68px);
                min-width: $check-width;
                background-color: $tertiary-color;
                color: $white;
                @include margin-top-bottom(-10px);
                margin-right: -$check-width;
                border-radius: 0 15px 15px 0;
                transform: translateX(0);
                transition: transform $check-dur $check-tim-fun;
                i {
                  font-size: 1.3rem;
                }
              }
            }
            // element containing the price
            span {
              align-self: flex-end;
              line-height: 1.5rem;
              font-weight: 700;
              padding: 0 25px 0 15px;
              transform: translateX(0);
              transition: transform $check-dur $check-tim-fun;
            }
            // check transition / animation when you mouse over the plate
            &:hover {
              div {
                &:first-child {
                  margin-right: $check-width; // the plat's name and description shrink
                }
                &:last-child {
                  transform: translateX(
                    -100%
                  ); // check box appears sliding to left
                  i {
                    animation: check-rotate $check-dur $check-tim-fun; // three-quarter visible turn of the check icon
                  }
                }
              }
              span {
                transform: translateX(
                  -$check-width
                ); // the price is "pushed" to the left
              }
            }
          }
        }

        // iteration for delaying plates loading

        @for $parent-nb from 2 through 4 {
          &:nth-child(#{$parent-nb}) {
            article {
              @for $child-nb from 1 through 4 {
                &:nth-of-type(#{$child-nb}) {
                  animation-delay: $lazy-load-anim-del *
                    $child-nb +
                    3 *
                    $lazy-load-anim-del *
                    ($parent-nb - 2);
                }
              }
            }
          }
        }
      }
    }
  }
}
