@mixin max-width($width) {
  max-width: $width;
  margin: 0 auto;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin margin-top-bottom($margin-top, $margin-bottom: $margin-top) {
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
}
@mixin flex-center {
  justify-content: center;
  align-items: center;
}
@mixin media-queries-min-width($device-width) {
  @media screen and (min-width: $device-width) {
    @content;
  }
}