$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$lightgrey: #f6f6f6;
$white: #fff;
$black: #000;
$darkgrey: #353535;
$fu-grey: #eaeaea;
$ht-pale-lilac: #f5edff;
$ht-icon-grey: #7e7e7e;
$bkp-tablet: 768px;
$bkp-desktop: 992px;
$bkp-desktop-max: 1200px;
$main-shadow: 5px 5px 10px darken($lightgrey, 10%);
$font-stack-headings: Shrikhand, "Cooper Black Italic", cursive;
$lazy-load-anim-del: 0.2s;
$check-width: 60px;
$check-dur: 0.4s;
$check-tim-fun: ease-out;
